<% # 'tag.name.parameterize' is not working for Chinese string, use 'tag.name' instead %>
<span class='tag' id='tag-<%= tag.name %>'>
<% if can?(:"manage tags", @ticket.project) || current_user.admin? %>
  <%= link_to "x",
        remove_ticket_tag_path(@ticket, tag),
        :method => :delete,
        :remote => true,
        :id => "delete-#{tag.name}" %>
  <%= link_to tag.name, search_project_tickets_path(@ticket.project,
        :search => "tag:#{tag.name}") %>
<% end %>
</span>
